{# templates/about.html #}
{% extends "moviesapp/base.html" %}

{% block title %}About project{% endblock %}

{% block content %}
<div class="container my-5 d-flex justify-content-center">
    <div class="card shadow-lg p-4" style="max-width: 720px; width: 100%;">
        <h1 class="card-title text-center mb-4">About project</h1>

        <p>
            This site is designed to store and view information about movies, actors and tags.
            Here you can find detailed descriptions of movies, see the cast and select movies by the tags that interest you.
        </p>

        <h2 class="h5 mt-4">Possibilities</h2>
        <ul class="ms-3">
            <li>View list of movies</li>
            <li>Search by tags and actors</li>
            <li>Adding and editing information (for authorized users)</li>
        </ul>

        <p class="text-end mb-0">
            The project was developed on&nbsp;Django &copy; {{ year|default:2025 }}
        </p>
    </div>
</div>
{% endblock %}
