{% extends "moviesapp/base.html" %}

{% load static %}
{% block title %}{% if edit_mode %}Edit movie{% else %}Add new movie{% endif %}{% endblock %}

{% block styles %}
{{ block.super }}
{% endblock %}

{% block scripts %}
<script src="{% static 'movies/js/add_movie.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
    <h2>{% if edit_mode %}Edit movie{% else %}Add new movie{% endif %}</h2>
    <form method="POST" action="{% if edit_mode %}/movies/{{ movie_id }}/edit/{% else %}{% url 'moviesapp:add_movie' %}{% endif %}" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Movie title:</label>
            <input type="text" class="form-control" id="title" name="title" required value="{{ title|default:'' }}" placeholder="This is a required field.">
        </div>
        <div class="form-group">
            <label for="torrent">Torrent file:</label>
            <input type="file" class="form-control" id="torrent"
             name="torrent" accept=".torrent"{% if not torrent_path %} required {% endif %}>
        </div>
        <div class="form-group">
            <label for="image">
              {% if edit_mode %}
                Upload new movie poster (optional):
              {% else %}
                Movie poster:
              {% endif %}
            </label>
            <input type="file" class="form-control" id="image"
             name="image" accept="image/*" {% if not image_path %} required {% endif %}>
            {% if image_path %}
                <div style="margin-bottom: 10px;">
                    <p>Current poster:</p>
                    <img src="{{ image_path.url }}" alt="Current poster" style="max-width: 200px; height: auto;">
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="image">
              {% if edit_mode %}
                Upload new screenlist poster:
              {% else %}
                Movie screenlist:
              {% endif %}
            </label>
            <input type="file" class="form-control" id="screenlist"
             name="screenlist" accept="image/*" {% if not screenlist_path %} required {% endif %} multiple>
            {% if screenlist_path %}
                <div style="margin-bottom: 10px;">
                    <p>Current screenlist:</p>
                    {% for screen in screenlist_path %}
                    <img src="{{ screen.image_path.url }}" alt="Current poster" style="max-width: 200px; height: auto;">
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="year">Year of issue:</label>
            <input type="number" class="form-control" id="year" name="year" min="1900" max="{{ now|date:'Y' }}" required value="{{ year|default:'' }}" placeholder="This is a required field.">
            <small class="form-text text-muted">Enter the year the movie was released</small>
        </div>
        <div class="form-group">
            <label for="genre">Genre:</label>
            <select class="form-control" id="genre" name="genre" required>
                <option value="action" {% if genre == 'action' %}selected{% endif %}>Action movie</option>
                <option value="comedy" {% if genre == 'comedy' %}selected{% endif %}>Comedy</option>
                <option value="drama" {% if genre == 'drama' %}selected{% endif %}>Drama</option>
                <option value="fantasy" {% if genre == 'fantasy' %}selected{% endif %}>Fantasy</option>
                <option value="horror" {% if genre == 'horror' %}selected{% endif %}>Horror</option>
                <option value="animation" {% if genre == 'animation' %}selected{% endif %}>Animation</option>
                <option value="documentary" {% if genre == 'documentary' %}selected{% endif %}>Documentary</option>
                <option value="other" {% if genre == 'other' %}selected{% endif %}>Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="extension">File extension:</label>
            <input type="text" class="form-control" id="extension" name="extension" placeholder="For example: mp4, mkv, avi, mov, flv" required value="{{ extension|default:'' }}">
        </div>
        
        <div class="form-group">
            <label for="download_url">Download url:</label>
            <input type="url" class="form-control" id="download_url" name="download_url" required value="{{ download_url|default:'' }}", placeholder="This is a required field.">
        </div>        
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="3" required>{{ description|default:'' }}</textarea>
        </div>
        <div class="form-group">
            <label for="size">File size (MB):</label>
            <input type="number" class="form-control" id="size" name="size" min="0" required value="{{ size|default:'' }}">
        </div>
        <div class="form-group">
            <label>Tags:</label>
            <div class="d-flex flex-column gap-2">
                <select class="form-control" id="tags" name="tags" multiple size="8" style="width:100%; height: 200px;">
                    {% if edit_mode %}
                        {% for tag in selected_tags.all %}
                            <option value="{{ tag.name }}" selected>
                                {{ tag.name }}
                            </option>
                        {% endfor %}
                    {% endif %}
                </select>
                <div class="d-flex gap-2">
                    <input type="text"
                           list="tag_options"
                           class="form-control"
                           id="new_tag"
                           placeholder="New or existing tag">

                    <datalist id="tag_options">
                        {% for tag in tags %}
                            <option value="{{ tag.name }}"></option>
                        {% endfor %}
                    </datalist>
                    <button type="button"
                            class="btn btn-outline-danger form-control"
                            onclick="removeSelectedTags()">
                        Delete selected tags
                    </button>
                    <button type="button" class="btn btn-outline-primary form-control" onclick="addNewTag()">Add</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Actors:</label>
            <div class="d-flex flex-column gap-2">
                <select class="form-control" id="actors" name="actors" multiple style="width:100%; height: 200px;">
                    {% if edit_mode %}
                        {% for actor in selected_actors.all %}
                        <option value="{{ actor.name }}" selected>
                            {{ actor.name }}
                        </optio>
                        {% endfor %}
                    {% endif %}
                </select>
                <div class="d-flex gap-2">
                    <input type="text"
                       list="actor_options"
                       class="form-control"
                       id="new_actor"
                       placeholder="New or existing actor">
                    <datalist id="actor_options">
                        {% for actor in actors %}
                            <option value="{{ actor.name }}"></option>
                        {% endfor %}
                    </datalist>
                    <button type="button"
                            class="btn btn-outline-danger form-control"
                            onclick="removeSelectedActors()">
                        Delete selected actors
                    </button>
                    <button type="button" class="btn btn-outline-primary form-control"
                             onclick="addNewActor()">
                         Add
                    </button>
                </div>
            </div>  
    </select>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">{% if edit_mode %}Save changes{% else %}Add movie{% endif %}</button>
            <a href="{% url 'moviesapp:main' %}" class="btn btn-secondary">Cancell</a>
        </div>
    </form>
</div>
{% endblock %}
