{% extends "moviesapp/base.html" %}

{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 60vh;">
    <div class="card shadow p-4 mb-4 bg-white rounded" style="max-width: 500px; width: 100%;">
        <h2 class="mb-3 text-center">Delete movie</h2>
        <p class="text-center">Are you sure you want to delete the movie? <strong>{{ movie.title }}</strong>?</p>
        <form method="post">
            {% csrf_token %}
            <div class="d-flex flex-column gap-2 align-items-center mt-4">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url "moviesapp:movie_detail" movie.id %}" class="btn btn-secondary">Cancell</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
