{% extends "moviesapp/base.html" %}

{% block title %}Contact us{% endblock %}

{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'movies/css/contact.css' %}">
{% endblock %}
{% block content %}
    <div class="container-1">
        <h1>Contact us</h1>
        <div class="info">
            <p>If you have any questions or suggestions, please fill out the form below or write to us at <a href="mailto:info@moviesapp.uа">info@moviesapp.uа</a>.</p>
        </div>
        <form method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message</label>
            <textarea id="message" name="message" rows="5" required></textarea>

            <button type="submit">Send</button>
        </form>
    </div>
{% endblock %}