{% extends "moviesapp/base.html" %}

{% block title %}Tag: {{ tag.name }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1>Movies tagged with "{{ tag }}"</h1>
            <ul class="list-unstyled">
                {% for movie in movies %}
                    <li class="mb-4">
                        <div class="d-flex align-items-start">
                            {% if movie.picture %}
                                <img src="{{ movie.picture.image_path }}" class="me-3" style="max-width: 150px;" alt="{{ movie.title }}">
                            {% endif %}
                            <div>
                                <a href="/movies/{{ movie.id }}/"><strong>{{ movie.title }}</strong></a> ({{ movie.release_date }})<br>
                                {{ movie.description }}<br>
                                <small class="text-muted">
                                    Жанр: {{ movie.genre }}<br>
                                    Размер: {{ movie.size }} МБ<br>
                                    {% if movie.actors %}
                                        Актеры: {{ movie.actors|join:", " }}<br>
                                    {% endif %}
                                    {% if movie.tags %}
                                        <div class="mt-2">
                                            <strong>Теги:</strong>
                                            {% for tag in movie.tags %}
                                                <a href="/tag/{{ tag }}" class="badge bg-secondary me-1">{{ tag }}</a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </small>
                            </div>
                        </div>
                    </li>
                {% empty %}
                    <li>No movies found with this tag.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}